{%extends 'books/layouts/base.html'%}

{%load static%}


{%block style%}

<link rel="stylesheet" href="{%static 'home/css/books-styles.css' %}">

{%endblock%}

{% block title %}
    Dashboard
{% endblock %}

{%block content%}
<br><br><br><br><br><br><br><br>
{% if books %}
    {% for book in books %}

        <div class="popup" id="popup">
            <div class="popup__content row">
                <div class="popup__left col-4 p-0">
                    image
                    <img src={{ book.image }} alt="Tour photo" class="popup__img" style="height: 100%;width: 100%;">
                    <!-- <img src="img/nat-9.jpg" alt="Tour photo" class="popup__img"> -->
                </div>
                <div class="popup__right col-8">
                    <a href="#section-tours" class="popup__close">&times;</a>
                    <h2 class="heading-secondary u-margin-bottom-small">Start reading now</h2>

                    <form action="">
                        <div class="form-group mt-5">
                            <input type="date" class="form-control mt-3" placeholder="Enter Return Date" />

                        </div>




                    </form>
                    <a href="#" class="btn mt-5">Book now</a>
                </div>
            </div>
        </div>




        <section class="section-tours" style="overflow-x:hidden;margin-top: 10rem;" id="section-tours">
            <div class="u-center-text u-margin-bottom-big">
            
            </div>

            <div class="row" style="padding: 5rem;">
                <div class="col-4">
                    <div class="card" style="background-color: transparent;" >
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">{{ book.name }}</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>
                                        {% if book.is_borrowed %}
                                            Is borrowed
                                        {% else %}
                                            Not borrowed
                                        {% endif %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    
                                    <p class="card__price-only">Delay</p>
                                    <p class="card__price-value">$297</p>
                                </div>
                                <!-- IF ADMIN  -->


                                <!-- <a href="{url 'editbook' '{{book.id}}' }" class="btn " style="color: white;margin-top: -6rem;">Edit Book!</a> -->

                                <!-- END COMMENT -->
                                <!-- <a href="#popup" class="btn btn--white">Borrow now!</a> -->

                            </div>
                        </div>
                    </div>
                </div>


                
            </div>

        
        </section>
    {% endfor %}
{% else %}
        <h1 class="h1">No Borrowed Books to show</h1>
{% endif %}
{%endblock%}