{%extends 'adminn/layouts/base.html' %}



{%block content%}


<div class="container">
    <h1> Edit Book </h1>
    <form action="{% url 'editbook' book.id %}" method="POST">
        {% csrf_token %}

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{book.name}}"
                 name="name" id="" placeholder="Name ">
        </div>

      </div>

     <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">authors</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  value="{{book.authors}}"
                 name="authors" id="" placeholder="authors">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  value="{{book.description}}"
                 name="description" id="" placeholder="description">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">image</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  value="{{book.image}}"
                 name="img" id="" placeholder="img">
        </div>
      </div>

    <div class="form-group">

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </div>
 
    </form>
    <form action="{% url 'deletebook' book.id %}" method="DELETE">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-4" value="Delete">Delete</button>
    </form> 

</div>







{%endblock%}