{%extends 'adminn/layouts/base.html'%}
{%load static%}
{%block style%}
<link rel="stylesheet" href="{%static 'home/css/all-std.css'%}">
{%endblock%}





{% block title %}
   Students
{% endblock %}



{%block content%}

<section class="search ">
    <div class="container">
        <div class="row">
        <form action="{% url 'showstudents'%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Enter ID </label>
                <input type="text" name="searchid" class="form-control" id="exampleInputname" aria-describedby="nameHelp"
                    placeholder="Student ID">
                
            </div>
            <button type="submit" class="btn btn-primary mt-4">Search</button>
        </form>
        </div>
    </div>
</section>


<section id="cards" style="margin-top: 4rem;">
    <div class="container py-2">
        <div class="row pb-4">
            <div class="col-12 text-center">
            </div>
        </div>
        <!-- cards -->
            <div class="row ">
                {% for student in students %}

                <div class="col-lg-4 col-md-6 mb-4 pt-5">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            <div class="user-picture">
                                <img src="https://images.unsplash.com/photo-1495603889488-42d1d66e5523?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=130&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=130"
                                    class="shadow-sm rounded-circle" height="130" width="130" />
                            </div>
                            <div class="user-content">
                                <h5 class="text-capitalize user-name">ID: {{ student.id }}</h5>

                                <h5 class="text-capitalize user-name">{{ student.first_name }}</h5>
                                <a type="submit" href="{% url 'student' student.id %}" class="btn btn-primary mt-4">show details</a>


                                <p class="small mt-5 text-white mb-0">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut,
                                    cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima
                                    doloribus earum
                                    quia commodi.</p>



                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>

    </div>
    <!-- /cards -->
</section>

{%endblock%}